<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.jh.yogiyo.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.jh.yogiyo.store.StoreVO" alias="StoreVO"/>
		<typeAlias type="com.jh.yogiyo.store.StoreManageVO" alias="StoreManageVO"/>
		<typeAlias type="com.jh.yogiyo.store.detail.StoreMenuVO" alias="StoreMenuVO"/>
		<typeAlias type="com.jh.yogiyo.store.detail.StoreMenuFileVO" alias="StoreMenuFileVO"/>
		<typeAlias type="com.jh.yogiyo.store.detail.StoreThumbFileVO" alias="StoreThumbFileVO"/>
		<typeAlias type="com.jh.yogiyo.store.detail.StoreReviewVO" alias="StoreReviewVO"/>
	</typeAliases>
</configuration>  