<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.jh.yogiyo.check.OrderMapper">
	
	<select id="getList" parameterType="MemberVO" resultMap="getOneResult2">
		select O.*, S.*
		from orderlist O left join store S
		on (O.storeNum = S.num)
		where O.id = #{id}
		order by O.regDate desc
	</select>
	
	<resultMap type="OrderListVO" id="getOneResult2">
         <id column="num" property="num"/>
         <result column="storeNum" property="storeNum"/>
         <result column="id" property="id"/>
         <result column="totalPrice" property="totalPrice"/>
         <result column="orderContents" property="orderContents"/>
         <result column="address" property="address" />
         <result column="regDate" property="regDate" />
         <association property="storeVO" javaType="StoreVO" resultMap="getStoreResult"></association>
   </resultMap>
   
   <resultMap type="StoreVO" id="getStoreResult">
      <id column="num" property="num"/>
	  <result column="categoryNum" property="categoryNum"/>
	  <result column="storeName" property="storeName"/>
	  <result column="storeNumber" property="storeNumber"/>
	  <result column="tel" property="tel" />
	  <result column="address" property="address" />
	  <result column="zipCode" property="zipCode" />
   </resultMap>
	
</mapper>