<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.jh.yogiyo.check.OrderMapper">

	<select id="getOne" parameterType="OrderListVO" resultType="OrderListVO">
		select * from orderlist
		where num = #{num}
	</select>
	
	<select id="getList" parameterType="MemberVO" resultMap="getOneResult2">
		select O.*, S.*
		from orderlist O left join store S
		on (O.storeNum = S.num)
		where O.id = #{id}
		order by O.regDate desc
	</select>
	
	<resultMap type="OrderListVO" id="getOneResult2">
         <id column="num" property="num"/>
         <result column="storeNum" property="storeNum"/>
         <result column="id" property="id"/>
         <result column="totalPrice" property="totalPrice"/>
         <result column="orderContents" property="orderContents"/>
         <result column="address" property="address" />
         <result column="regDate" property="regDate" />
         <association property="storeVO" javaType="StoreVO" resultMap="getStoreResult"></association>
   </resultMap>
   
   <select id="getList2" parameterType="MemberVO" resultMap="getOneResult3">
   		select C.*, S.*
   		from cart C left join store S
   		on C.storeNum = S.num
   		where C.id = #{id}
   </select>
   
   <resultMap type="CartVO" id="getOneResult3">
         <id column="cartNum" property="cartNum"/>
         <result column="storeNum" property="storeNum"/>
         <result column="id" property="id"/>
         <result column="menuName" property="menuName"/>
         <result column="count" property="count"/>
         <result column="price" property="price"/>
         <association property="storeVO" javaType="StoreVO" resultMap="getStoreResult"></association>
   </resultMap>
   
   <resultMap type="StoreVO" id="getStoreResult">
      <id column="num" property="num"/>
	  <result column="categoryNum" property="categoryNum"/>
	  <result column="storeName" property="storeName"/>
	  <result column="storeNumber" property="storeNumber"/>
	  <result column="tel" property="tel" />
	  <result column="address" property="address" />
	  <result column="zipCode" property="zipCode" />
   </resultMap>
   
   <insert id="insertOrderList" parameterType="OrderListVO">
   		insert into orderlist values (null, #{storeNum}, #{id}, #{totalPrice}, #{orderContents}, #{address}, now(), #{phone}, #{comment}, #{tradeMethod})
   </insert>
   
   <update id="setPoint" parameterType="MemberVO">
   		update member set point = point + #{point} where id=#{id}
   </update>
   
   <select id="getPoint" parameterType="MemberVO" resultType="java.lang.Integer">
   		select point from member where id = #{id}
   </select>
   
   <select id="getCoupon" parameterType="CouponVO" resultType="CouponVO">
   		select * from coupon where couponNum = #{couponNum}
   </select>
   
   <update id="setUsePoint" parameterType="CouponVO">
   		update member set point = point - #{point} where id=#{id}
   </update>
   
   <update id="setUseCoupon" parameterType="CouponVO">
   		update coupon set isUse = 1 where couponNum = #{couponNum}
   </update>
	
</mapper>