<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.jh.yogiyo.store.StoreMapper">
	<select id="getList" parameterType="StorePager" resultMap="getOneResult">
		select S.*, SM.*
		from store S left join storemanage SM
		on S.num = SM.storeNum 
		where SM.deliveryArea like '%${address}%'
		<choose>
			<when test="categoryNum != 0">
				and S.categoryNum = #{categoryNum}
			</when>
		</choose>
		<choose>
			<when test="searchName != null">
				and S.storeName like '%${searchName}%'
			</when>
		</choose>
		order by num asc limit #{startRow},20
	</select>
	
	<resultMap type="StoreVO" id="getOneResult">
         <id column="num" property="num"/>
         <result column="categoryNum" property="categoryNum"/>
         <result column="storeName" property="storeName"/>
         <result column="storeNumber" property="storeNumber"/>
         <result column="tel" property="tel" />
         <result column="address" property="address" />
         <result column="zipCode" property="zipCode" />
         <result column="id" property="id" />
         <association property="storeManageVO" javaType="StoreManageVO" resultMap="getStoreManageResult"></association>
   </resultMap>
   
   <resultMap type="StoreManageVO" id="getStoreManageResult">
      <result column="storeNum" property="storeNum"/>
      <result column="openTime" property="openTime"/>
      <result column="closeTime" property="closeTime"/>
      <result column="holiday" property="holiday"/>
      <result column="minPrice" property="minPrice" />
      <result column="driveFee" property="driveFee" />
      <result column="takeTime" property="takeTime" />
      <result column="isOpen" property="isOpen" />
      <result column="storeComment" property="storeComment" />
      <result column="deliveryArea" property="deliveryArea" />
   </resultMap>
</mapper>